[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "frm"
version = "0.0.3"
authors = [
  { name="Shasa Foster", email="shasa.foster@gmail.com" },
]
description = "A python package for quantitative finance and derivative pricing"
readme = "README.md"
requires-python = ">=3.10"
dependencies=[           
    "holidays",
    "matplotlib",	
    "numba",
    "numpy",
    "pandas",	
    "pandas_market_calendars",
    "scipy",
      ]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)",  
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/frmcalcs/frm"
"Website" = "https://www.frmcalcs.com"

[tool.setuptools]
include-package-data = false

[tool.setuptools.packages.find]
exclude = ["references", "tests", "excel_models", "excel_models_private", "examples", "excel_models", "excel_models_private", "examples"]  # Add these lines to exclude specific packages
